---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import { InventoryView } from '../components/inventory/InventoryView';
---

<DashboardLayout title="Inventario Activo">
    <div class="max-w-7xl mx-auto">
        <InventoryView client:load />
    </div>
</DashboardLayout>