---
import '../styles/global.css';

interface Props {
    title: string;
    description?: string;
}

const { title, description = "Panel de Gestión de Activos" } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title} | CoreAsset</title>
    </head>
    <body class="min-h-screen bg-gray-50 dark:bg-surface-base antialiased selection:bg-primary-500 selection:text-white">
        <main class="w-full min-h-screen flex flex-col">
            <slot />
        </main>
    </body>
</html>